body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

b {
  --stroke-color: black;
  --stroke-width: 0.3px;
  text-shadow: var(--stroke-width)  0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

canvas {
  animation: fadein 1s;
  animation-timing-function: ease-in;
}

#sandbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
  flex: 0 0 1000px;
  /* border-style: solid; */
}

.object {
	position: absolute;
  animation: fadein 1s;
  animation-timing-function: ease-in;
  transition: left 1s ease-out 0s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.textbox{
  font-family: Gaegu;
}

wired-button:hover {
  transform: scale(1.05) perspective(1px);
}

.next-button {
  left: 700px;
  top: 500px;
  font-size: 30px;
}

.back-button {
  left: 200px;
  top: 500px;
  font-size: 30px;
}