#sandbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
  flex: 0 0 1000px;
}

.object {
	position: absolute;
	transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.textbox{}
